* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

.calc-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screens-container {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
